.carousel {
  position: relative;
  width: 100%;
  height: 25.5rem;
  text-align: center;

  &,.carousel-list,.carousel-item {
    border-radius: 1rem;
    @include transition($carousel-transition);
  }

  .carousel-list {
    min-width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .carousel-item {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
  }

  .btn-prev,.btn-next,.carousel-pagination {
    position: absolute;
  }

  .btn-prev,.btn-next {
    top: calc(50% - 2.4rem/2);
    cursor: pointer;

    img {
      height: 2.4rem;
    }
  }

  .btn-prev {
    left: 0;
    transform: rotate(-90deg);
  }

  .btn-next {
    right: 0;
    transform: rotate(90deg);
  }
}

.carousel-pagination {
  bottom: 1rem;
  left: 0;
  right: 0;
  color: $light;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

@media (min-width: $md) {
  .carousel {
    height: 41.5rem;

    &,.carousel-list,.carousel-item {
      border-radius: 2.5rem;
    }

    .btn-prev,.btn-next {
      top: calc(50% - 8rem/2);

      img {
        height: 8rem;
      }
    }
  }

  .carousel-pagination {}
}
